# Python
__pycache__/
*.pyc

# Virtual environment
Lib/
Scripts/
Include/
venv/
case_fretadao/

# dbt
dbt_packages/
target/
logs/

# Environment
.env
case_fretadao/pyvenv.cfg
case_fretadao\pyvenv.cfg
pyvenv.cfg

# IDEs
.vscode/